

html, body {
    height: 100%;
    font-family: cursive;
    background-color: gray;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;

}

.container {
    margin: 15%;
}

header {
    text-align: center;
    vertical-align: center;
    background-color: silver;
    height: 15%;
    padding-top: 20px;
}

header p {
    font-size: 1.5em;
}

.img-flx {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
}

img {
    height: 95%;
    width: 65%;
    margin: 0 auto;
  /*margin-left: 100px ;*/
 /*margin-left: auto;
 margin-right: auto;
 display: block;
 width: 1200px;
 height: 1000px;*/
 }

footer {
    border: 2px solid darkblue;
    background-color: blue;
    width: 100%;
    margin: 0;
    padding: 0;
}

