<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../mvcstyle.css">
</head>
<body>
    <header>Model View Control: A Classic Architecture for Software</header>
    <div class="container">
        <div class="model">
            <h1>M-Model</h1>
            <p> Model: A container, created from a blueprint, for zero or more objects that are created, read, updated, and deleted. It is accessible by the controller and view; the controller can access and manipulate state, while the view displays it.</p>
            <p>For example: Imagine Thanksgiving. There is a tradition/blueprint for what is expected, but the actual meal can be anything you want. You can update the menu last minute if you lack something, or would like to add a few extra appetizers. This meal will be displayed on the dining room table for all of your guests -- the "view."</p>
        </div>
        <div class="img-flx">
            <div class="view">
                <h1>V-View</h1>
                <p>View: a visual display of the model in which the user can interact.</p>
                <p>For example, reading a form, the user can type in data that the controller uses to update the model. This in turn  updates the view.</p>
            </div>
            <img src="image/mvc.svg.png">
            <div class="controller">
                <h1>Controller</h1>
                <p>The controller is an intermediary between the view and model. You don't actually see it, but it 'controls' how the   object will be handled.</p>
                <p>For example, you go to a restaurant and see the menu, the view. You ask the waiter for a glass of water, and he updates the model of your meal by coming back with a glass which was determined by the controls in place. Controller: the user interface for interacting with the model. Handles user's requests and renders appropriate View with Model data.</p>
            </div>
        </div>
    </div>
    <footer>Bili, Eric, and Matt</footer>
</body>
</html>