<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../mvcstyle.css">
</head>
<body>
    <header>Model View Control: A Classic Architecture for Software</header>
    <div class="container">
        <div class="model">
            <h1>M-Model</h1>
            <p> Model: A container, created from a blueprint, for zero or more objects that are created, read, updated, and deleted. It is accessible by the controller and view; the controller can access and manipulate state, while the view displays it.</p>
            <p>For example: Imagine Thanksgiving. There is a tradition/blueprint for what is expected, but the actual meal can be anything you want. You can update the menu last minute if you lack something, or would like to add a few extra appetizers.
                If you prefer aboriginal day, it can be deleted altogether; if you love it, you can have multiple meals at various houses.</p>
        </div>
        <div class="img-flx">
            <div class="view">
                <h1>V-View</h1>
                <p>View: a visual display of the model in which the user can interact.</p>
                <p>The table is where your meal will be displayed. You interact there by communicating what you want and don't want,
                and seeing is show up before you.</p>
            </div>
            <img src="image/mvc.svg.png">
            <div class="controller">
                <h1>Controller</h1>
                <p>The controller is an intermediary between the view and model. You don't actually see it, but it 'controls' how the object will be handled.</p>
                <p> This may be family or friends in the kitchen who retrieve or leave items behind upon your directions. The controller handles user's requests and renders the appropriate View by updating the Model.</p>
            </div>
        </div>
    </div>
    <footer>Bili, Eric, and Matt</footer>
</body>
</html>